@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: Poppins;
  src: url(./assets/fonts/Poppins.ttf) format("truetype");
}

@font-face {
  font-family: Lexend;
  src: url(./assets/fonts/Lexend.ttf) format("truetype");
}

@font-face {
  font-family: Avanir;
  src: url(./assets/fonts/AvenirBlack.otf) format("opentype");
}

@font-face {
  font-family: Cabin;
  src: url(./assets/fonts/Cabin.ttf);
}

:root {
  --black-fifty: #000000;
  --white-fifty: #FFFFFF;
  --light-blue-twentyfive: #78C0E0;
  --dark-blue-twenty-five: #223580;
}

* {
  margin: 0;
  padding: 0;
  color: var(--white-fifty);
  background: var(--black-fifty);
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}